* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
/** texto general**/
.text-xs {
    font-size: 10px;
}
.text-sm {
    font-size: 14px;
    color: #828485;
}
.text-md {
    font-size: 16px;
}
.text-lg {
    font-size: 45px;
}
.text-light {
    font-weight: 300;
}
.text-regular {
    font-weight: 400;
}
.text-bold {
    font-weight: bold;
}
/**seccion del chat**/

.bt-primary {
    display: flex;
    background-color: #a491D2;
    color: #fff;
    text-decoration: none;
    justify-content: center;
    padding: 13px 48px;
}
.bt-primary:hover {
    background-color: #cdc3e6;
}
.bt-primary:focus{
    background-color: #BEC1BB;
}
.container {
    display: flex;
}
.contacto{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 16 0 320px;
    border-right: 1px solid #e8ebe4;
}
.chat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    border: 1px solid #e8ebe4;
}
.chat-boton {
    display: flex;
    flex-grow: 1.5;
    align-items: center;
    justify-content: center;
    border: 1px solid #e8ebe4;
}

.chat-usuario {
    display: flex;
    align-items: center;
}

.chat-texto {
    flex-direction: column;
    text-align: left;
    margin-left: 1rem;
}

.chat-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.chat-img-pequeña {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.chat-iconos {
    display: flex;
    align-items: center;
    gap: 16px;
    color: #BEC1BB;
}
.chat-iconos a {
    color: #BEC1BB;
}
/**seccion logo**/
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.main img {
    width: 260px;
    margin-bottom: 25px;
}
.descripcion {
    width: 550px;
    text-align: center;
    padding: 0 10px;
}